.products {
    margin-top: 40px;
}

.quantity-results {
    margin-left: 10px;
    transition: all .5s;
}

.results {
    flex-grow: 1;
}

.listing-header {
    display: flex;
    flex-wrap: wrap;
}

.listing-header span.quantity-results{
    margin-left: 8px;
    color: #ccc;
    flex-grow: 1
}

.product {
    margin: 12px 0;
}
.product-name {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

.product-price {
    font-weight: bold;

}

.product-old-price {
    font-weight: bold;
    color: #ccc;

    text-decoration: line-through;
    margin-right: 8px;
}

.product-old-price::before, .product-price::before{
    content: 'R$ ';
    font-size: 10px;
}

.product-details {
    padding: 0 60px;
}

.product-details-info {
    padding: 0 32px;
}

.product-details-label {
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase
}

.product-details-section {
    margin: 32px 0;
}
@media(max-width: 768px) {
    .listing-actions {
        width: 100%;
        display: flex;
        justify-content: space-around
    }

    .product-details {
        padding: 0;
    }

    .product-details-info {
        padding: 0;
    }
    
}