.products {
    margin-top: 40px;
}

.quantity-results {
    margin-left: 10px;
    transition: all .5s;
}

.results {
    flex-grow: 1;
}

.listing-header {
    display: flex;
    flex-wrap: wrap;
}

.listing-header span.quantity-results{
    margin-left: 8px;
    color: #ccc;
    flex-grow: 1
}

.product {
    margin: 12px 0;
}
.product-name {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

.product-price {
    font-weight: bold;
    color: #91d5ff;
    font-size: 22px;
}

.product-old-price {
    font-weight: bold;
    color: #ccc;
    font-size: 22px;
    text-decoration: line-through;
    margin-right: 8px;
}


@media(max-width: 768px) {
    .listing-actions {
        width: 100%;
        display: flex;
        justify-content: space-around
    }
    
}