/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

.move-enter {
    opacity: 0.01;
    transform: translate(-40px, 0)
}

.move-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 500ms ease-in;
}

.move-exit {
    opacity: 1;
    transform: translate(0, 0)
}

.move-exit-active {
    opacity: 0.01;
    transform: translate(40px, 0);
    transition: all 500ms ease-in;
}


.page {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;

}

.btn-clean {
    border: none;
    box-shadow: none;
}
  
.mobile {
    display: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.price::before {
    content: 'R$ ';
    font-size: 10px;
    /* color: #ccc */
}

.blue {
    color: #91d5ff;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    transition: all .5s
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center
}

.grow {
    flex-grow: 1;
}

.text-muted {
    color: rgba(0,0,0,0.45) !important;
}

@media(max-width: 768px) {
    .mobile {
        display: block;  
    }
    
    .desktop {
        display: none;
    }
}